body{
	position: relative;
	left: 40%;
	width: 100px;   
}

#body{
	z-index: -1;
	position: absolute;
	left: 25px;
	margin-top: 50px;
}

#glasses{
	position: absolute;
	margin-top: 149px;
	left: 67px;
	
}

#hat{
	position: absolute;
	left: 0px;
}